openapi: 3.0.0
info:
  title: SMS
  description: |-
    You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.

    Relevant guides: <a href="https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms" target="_blank">How many characters can I send in an SMS?</a>, <a href="https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired" target="_blank">SMS status delivery receipt expired</a>, <a href="https://help.clicksend.com/article/mueq678bcy-do-you-support-non-english-characters" target="_blank">Do you support non-English characters</a>, and <a href="https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions" target="_blank">Country Specific Features and Restrictions</a>.
    <div style="background-color: #e8f4ff; padding: 15px; border-radius: 4px; border-left: 4px solid #0066cc;">
    ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href="https://www.clicksend.com/gb/help/" target="_blank">contact support</a> to apply for approval for URL messaging.
    </div>
  version: 1.0.0
servers:
  - url: https://rest.clicksend.com
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic

paths:
  /v3/sms/send:
    post:
      summary: Send SMS
      operationId: send-sms
      description: |-
        Use this endpoint to send messages to your recipients, either as phone numbers or contacts from your contact list. 
        The sender of the message (<a href="https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number" target="_blank"><strong>Sender ID</strong></a>) can be a shared number, a dedicated number, alpha tag (business name), or your own number. 
        You can send messages both locally and globally, subject to the country restrictions. The cost of sending messages varies based on the <a href="https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms" target="_blank">type</a> and length of the message.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - body
              properties:
                messages:
                  type: array
                  description: Messages to send to customers.
                  items:
                    type: object
                    properties:
                      body:
                        type: string
                        description: |-
                          The message to send. The price of sending a message depends on the number of characters and the type of message. There are two types:  

                          - Standard message - Contains only characters in the <a href="https://en.wikipedia.org/wiki/GSM_03.38" target="_blank">GSM</a> set, with a maximum of 160 characters.  
                              
                          - Unicode message - Contains characters outside the <a href="https://en.wikipedia.org/wiki/GSM_03.38" target="_blank">GSM</a> set, with a maximum of 70 characters.  
                              
                          Longer messages will be sent as multiple messages (parts), but the recipient will receive them as a single long message. Visit <a href="https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms" target="_blank">this page</a> to learn more about the number of characters per message, and <a href="http://smscharactercount.com/#/counter" target="_blank">this page</a> to count the number of characters.
                      to:
                        type: string
                        description: |
                          The phone number of the recipient. It should be in the international format (<a href="https://en.wikipedia.org/wiki/E.164" target="_blank">E.164</a>). You can send to a contact list using the _list_id_ parameter. You need to provide the _to_ parameter or the _list_id_ parameter.
                    
                          <div class="info-box">
                            <h4><i class="fas fa-info-circle"></i> Note:</h4>
                            <p>To send SMS overseas, enable the <a href="https://help.clicksend.com/article/qdavyt16qs-global-sending" target="_blank">global sending</a> feature on your account either through the <a href="https://dashboard.clicksend.com/global-sending" target="_blank">Dashboard</a>, or by contacting <a href="https://www.clicksend.com/au/help/" target="_blank">customer support</a>.</p>
                          </div>                   
                      from: 
                        type: string
                        description: |-
                          The sender of the message. This is also referred to as the **<a href="https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number" target="_blank">Sender ID</a>**. You can use:
                          - **Shared number:** A number that is randomly selected from a pool if no number is specified. This is not available in the US and Canada. You can’t use a shared number if you have a dedicated number.
                          - **Dedicated number:** A number you've purchased from ClickSend. You can purchase a dedicated number using the <a href="https://dashboard.clicksend.com/sender-ids/manage-senders" target="_blank">Dashboard</a> or the [**Purchase Dedicated Number**](/accounts/sender-ids/#operation/purchase-dedicated-number) endpoint. It should be in the international format (<a href="https://en.wikipedia.org/wiki/E.164" target="_blank">E.164</a>).
                          - **Alpha tag:** A sender name, like the name of your business, used as the **Sender ID** instead of a number. Recipients cannot reply to an alpha tag. You can register an alpha tag using the <a href="https://dashboard.clicksend.com/sender-ids/manage-senders" target="_blank">dashboard</a> or the **[Request Alpha Tag](/accounts/sender-ids/#operation/request-alpha-tag)** endpoint. Check which countries support alpha tags <a href="https://help.clicksend.com/article/532u04vhaq-which-countries-support-alpha-tags" target="_blank">here</a>.
                          - **Own number:** Your own number that is connected to your account. Replies from recipients are sent directly to your number. You can register your own number using the <a href="https://dashboard.clicksend.com/sender-ids/manage-senders" target="_blank">dashboard</a> or the [**Request Own Number Verification OTP**](/accounts/sender-ids/#operation/request-own-number-verification-otp) endpoint to get the _verification_id_ and OTP code needed for the [**Verify Own Number OTP**](/accounts/sender-ids/#operation/verify-own-number-otp) endpoint. This isn't available in the US and Canada.
                          If your **Sender ID** has a different country code to the recipient’s, it'll be replaced by a local number, except in <a href="https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions" target="_blank">certain countries</a>. If the sender number is blocked, a different number will replace it.
                      source: 
                        type: string
                        description: |-
                          The source of the request. For example, the name of your application. It's used to identify messages sent from various applications.
                      schedule: 
                        type: integer
                        description: |-
                          The time you want the message to be sent. It should be in <a href="http://help.clicksend.com/what-is-a-unix-timestamp" target="_blank">Unix format</a>.
                      custom_string: 
                        type: string
                        description: |-
                          A note that will be sent back to you with the response from the endpoint.
                      list_id: 
                        type: string
                        description: |-
                          The _list_id_ of the contact list to send the message to. Use the [**View Contact List**](/contacts/lists/#operation/view-list-contacts) endpoint to see your contact lists. You can also use the other [lists endpoints](/contacts/lists/) to create and manage your contact list. You need to provide the _to_ parameter or the _list_id_ parameter.
                      contact_id: 
                        type: integer
                        description: |-
                          The _contact_id_ of the contact to send the message to. A _contact_id_ is connected to a _list_id_. Use the Search Contact list endpoint to view the _contact_id_ of the specified number. This parameter will be sent back to you with the response from the endpoint.
                          
                          <div class="warning-box">
                            <h4><i class="fas fa-exclamation-triangle"></i> Warning:</h4>
                            <p>This parameter is no longer in use.</p>
                          </div>
                      country: 
                        type: string
                        description: |-
                          The country code of the recipient in two-letter format (e.g. US, UK, AU, NZ, <a href="https://help.clicksend.com/article/7wtbhhy6sy-country-code-calling-code-list" target="_blank">etc</a>).
                      from_email: 
                        type: string
                        description: |-
                          The email address to which replies should be emailed to. If omitted, the reply will be emailed back to the user who sent the outgoing SMS.
                      exclude_no_sender_id_recipients: 
                        type: boolean
                        description: |-
                          Used for validating whether the **Sender ID** in registered or not. You can either specify:

                          - **True** - It will begin sending messages without validating the Sender ID. If your contact is in a country that requires Sender ID validation, your recipient will not received it.
                              
                          - **False** - It will only send messages if the **Sender ID** is registered.
                    required:
                      - body
              example:
                senders:
                  - recipient_country_code: "AU"
                    sender_id: "ClickSend"
                    sender_type: "alpha_tag"
                  - recipient_country_code: "US"
                    sender_type: "shared_longcode"
                  - recipient_country_code: "AU"
                    sender_id: "+61411111111"
                    sender_type: "longcode"
                  - recipient_country_code: "AU"
                    sender_id: "8084"
                    sender_type: "shortcode"
                  - recipient_country_code: "US"
                    sender_id: "+14155552345"
                    sender_type: "10DLC"
                  - recipient_country_code: "AU"
                    sender_id: "+61411111111"
                    sender_type: "own_number"
                shorten_urls: false
                messages:
                  - body: "Hello from ClickSend! This is a test message."
                    to: "+61411111111"
                  - body: "Hello from ClickSend! This is another test message."
                    to: "+14155552345"
                    custom_string: "Test message 001"

      security:
        - basicAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: 
              schema:
                type: object
                properties:
                  http_code:
                    type: string
                    description: |-
                      The HTTP code of the response. Visit [this page](/#status-codes) for more information.

                      This parameter doesn’t reflect the status of each message. Check the status parameter of the message object to view the status of the individual message.
                    example: 200
                  response_code:
                    type: string
                    description: The response code of the operation. Visit [this page](/#status-codes) for more information.
                    example: SUCCESS
                  response_msg:
                    type: string
                    description: A message describing the outcome of the operation.
                    example: Messages queued for delivery.
                  data:
                    type: object
                    description: The parameters related to messages.
                    properties:
                      total_price:
                        type: number
                        example: 0.0792
                        description: The total price of sending the messages. Visit [this page](/#status-codes) for more information.
                      total_count:
                        type: integer
                        example: 1
                        description: The total number of messages sent from the request.
                      queued_count:
                        type: integer
                        example: 1
                        description: |-
                          The messages will be put in a queue if it goes through the validation process. The validation process checks whether the **Sender ID** is registered or not. Some countries don't require messages to go through the validation process.

                          Messages scheduled to be sent right away will be sent immediately. If not, it will be queued.
                      messages:
                        type: array
                        description: The parameters related to messages.
                        items:
                          type: object
                          properties:
                            direction:
                              type: string
                              description: |-
                                It can either be **in** or **out**:

                                - **in** - You received a message. it has to do with inbound messages.
                                    
                                - **out** \- You are sending a message. It has to do with outbound messages.
                              example: in
                            date:
                              type: integer
                              description: The date you sent the message. It is in <a href="http://help.clicksend.com/what-is-a-unix-timestamp" target="_blank">Unix format</a>.
                              example: 1436871253
                            to:
                              type: string
                              description: The phone number of the recipient. It should be in <a href="https://en.wikipedia.org/wiki/E.164" target="_blank">E.164 format</a>.
                              example: "+61411111111"
                            body:
                              type: string
                              description: |-
                                The message sent. The price of sending a message depends on the number of characters and the type of message. There are two types:

                                - Standard message - Contains only characters in the <a href="https://en.wikipedia.org/wiki/GSM_03.38" target="_blank">GSM</a> set, with a maximum of 160 characters.
                                    
                                - Unicode message - Contains characters outside the <a href="https://en.wikipedia.org/wiki/GSM_03.38" target="_blank">GSM</a> set, with a maximum of 70 characters.
                                    

                                Longer messages will be sent as multiple messages (parts), but the recipient will receive them as a single long message. Visit <a href="https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms" target="_blank">this page</a> to learn more about the number of characters per message, and <a href="http://smscharactercount.com/" target="_blank">this page</a> to count the number of characters.
                              example: Jelly liquorice marshmallow candy carrot cake 4Eyffjs1vL.
                            from:
                              type: string
                              description: The sender of the message. This is also referred to as the **Sender ID**. If your **Sender ID** has a different country code to the recipient’s, it'll be replaced by a local number, except in <a href="https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions" target="_blank">certain countries</a>. If the sender number is blocked, a different number will replace it. 
                              example: sendmobile
                            schedule:
                              type: integer
                              description: The scheduled date of the message. It is in <a href="http://help.clicksend.com/what-is-a-unix-timestamp" target="_blank">Unix format</a>.
                              example: 1436874701
                            message_id:
                              type: string
                              description: The generated ID of the message. This ID is typically used as a reference for <a href="https://www.clicksend.com/au/help/" target="_blank">customer support</a> in case of any issues.
                              example: BF7AD270-0DE2-418B-B606-71D527D9C1AE
                            message_parts:
                              type: integer
                              description: The number of parts the message was broken into. To look at how many parts your message is broken down into, use the **<a href="http://smscharactercount.com/">SMS Character Count</a>**.
                              example: 1
                            message_price:
                              type: number
                              description: The price of this message. This depends on the total number of parts of the message.
                              example: 0.07
                            from_email: 
                              type: string
                              description: The email address to which replies should be emailed to. If omitted, the reply will be emailed back to the user who sent the outgoing SMS.
                              example: john@example.com
                            list_id: 
                              type: string
                              description: The _list_id_ of the contact list the message was sent to. This parameter will have a **null** value if you didn’t send to a list in the request.
                              example: 1
                            custom_string:
                              type: string
                              description: A note that was sent from the request.
                              example: this is a test
                            contact_id:
                              type: string
                              description: This is the ID of the contact. This parameter will have a **null** value if you didn’t provide a _contact_id_ in the request.
                              example: 52649412
                            user_id:
                              type: integer
                              description: The unique user ID of the sender.
                              example: 1
                            subaccount_id:
                              type: integer
                              description: This sub-account of the user. A user can have multiple sub-accounts.
                              example: 1
                            is_shared_system_number:
                              type: boolean
                              description: |-
                                Indicates whether you use a shared number to send a message:

                                - **True** \- if the sender is randomly selected.
                                    
                                - **False** \- if the sender is specified and passed the validation process.
                              example: false
                            country:
                              type: string
                              description: The country of the recipient in two-letter format (e.g. US, UK, AU, NZ, etc).
                              example: AU
                            carrier:
                              type: string
                              description: The phone carrier of the recipient.
                              example: Telstra
                            status:
                              type: string
                              description: The response code of the operation. Visit [this page](/#application-status-codes) for more information. This reflects the actual status of the individual message.
                              example: SUCCESS
                        example:
                          - direction: "out"
                            date: 1721099039,
                            to: "+61411111111"
                            body: "test message"
                            from: "+61431111112"
                            schedule: 1721099039
                            message_id: "1ABC3200-C38C-6308-BE4B-C7C51D01DCF0"
                            message_parts: 1
                            message_price: 0.0792
                            from_email: null
                            list_id: null
                            custom_string: ""
                            contact_id: null
                            user_id: 123456
                            subaccount_id: 123456
                            is_shared_system_number: false
                            country: "AU"
                            carrier: "Vodafone"
                            status: "SUCCESS"
                      _currency:
                        type: object
                        description: The parameters related to currency.
                        properties:
                          currency_name_short:
                            type: string
                            description: The currency used for the sender in three-letter format (e.g. USD, EUR, AUD, NZD, etc).
                            example: AUD
                          currency_prefix_d:
                            type: string
                            description: The symbol used to indicate the currency of the sender (e.g. $ , €, etc).
                            example: $
                          currency_prefix_c:
                            type: string
                            description: The currency basic unit (e.g. cents).
                            example: c
                          currency_name_long:
                            type: string
                            description: The full name of the currency.
                            example: Australian Dollars
                      blocked_count: 
                        type: integer
                        description: |-
                          The number of messages unable to be sent. This is often caused by:

                          - Receipient’s country not enabled for <a href="https://help.clicksend.com/article/qdavyt16qs-global-sending">global sending</a>.
                              
                          - **Sender ID** resitriction.
                              
                          - Number registration restrcition.
                        example: 0
  /v3/search/contacts-lists:
    get:
      summary: View Contact Lists
      operationId: view-contact-lists
      description: >-
        _Get list of searched contact list_


        ### Parameters


        | Parameter | In | Type | Required | Description |

        | --- | --- | --- | --- | --- |

        | q | query | string | true | Your keyword or query. |

        | page | query | integer(int32) | false | [Page
        number](https://developers.clicksend.com/docs/rest/v3/#pagination) |

        | limit | query | integer(int32) | false | [Number of records per
        page](https://developers.clicksend.com/docs/rest/v3/#pagination) |


        Refer to [Status
        Codes](/#status-codes) for
        definitions of HTTP status code responses.


        This endpoint requires authentication, [more
        info...](https://developers.clicksend.com/docs/rest/v3/#authentication)
      security:
        - basicAuth: []
      parameters:
        - name: q
          in: query
          schema:
            type: string
          example: Test
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/sms/price:
    post:
      summary: Calculate SMS Price
      operationId: calculate-sms-price
      description: |-
        Use this endpoint to calculate the price of sending messages. The cost of sending messages varies based on the <a href="https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms" target="_blank">type</a> and length of the message.

      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                # senders:
                #   type: array
                #   $ref: ../../../schemas/common/senders.yml
                # shorten_urls:
                #   type: boolean
                #   $ref: ../../../schemas/common/shorten_urls.yml
                messages:
                  type: array
                  description: Messages to send to customers.
                  items:
                    type: object
                    required:
                      - body
                    properties:
                      body:
                        type: string
                        description: |-
                          The message to send. The price of sending a message depends on the number of characters and the type of message. There are two types:

                          - Standard message: Contains only characters in the <a href="https://en.wikipedia.org/wiki/GSM_03.38" target="_blank">GSM</a> set, with a maximum of 160 characters.
                              
                          - Unicode message: Contains characters outside the <a href="https://en.wikipedia.org/wiki/GSM_03.38" target="_blank">GSM</a> set, with a maximum of 70 characters.
                              
                          Longer messages will be sent as multiple messages (parts), but the recipient will receive them as a single long message. Visit <a href="https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms" target="_blank">this page</a> to learn more about the number of characters per message, and <a href="http://smscharactercount.com/" target="_blank">this page</a> to count the number of characters.
                      to: 
                        type: string
                        description: |-
                          The phone number of the recipient. It should be in the international format (<a href="https://en.wikipedia.org/wiki/E.164" target="_blank">E.164</a>). You can send to a contact list using the _list_id_ parameter. You need to provide the to parameter or the _list_id_ parameter.

                          <div class="info-box">
                            <h4><i class="fas fa-info-circle"></i> Note:</h4>
                            <p>To send SMS overseas, enable the <a href="https://help.clicksend.com/article/qdavyt16qs-global-sending" target="_blank">global sending</a> feature on your account either through the <a href="https://dashboard.clicksend.com/global-sending" target="_blank">Dashboard</a>, or by contacting <a href="https://www.clicksend.com/au/help/" target="_blank">customer support.</a></p>
                          </div> 

                      from: 
                        type: string 
                        description: |-
                          The sender of the message. This is also referred to as the **<a href="https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number" target="_blank">Sender ID</a>**. You can use:
                          - Shared number: A number that is randomly selected from a pool if no number is specified. This is not available in the US and Canada. You can’t use a shared number if you have a dedicated number.
                          - Dedicated number: A number you've purchased from ClickSend. You can purchase a dedicated number using the <a href="https://dashboard.clicksend.com/sender-ids/manage-senders" target="_blank">Dashboard</a> or the [**Purchase Dedicated Number**](/accounts/sender-ids/#operation/purchase-dedicated-number) endpoint. It should be in the international format (<a href="https://en.wikipedia.org/wiki/E.164" target="_blank">E.164</a>).
                          - Alpha tag: A sender name, like the name of your business, used as the **Sender ID** instead of a number. Recipients cannot reply to an alpha tag. You can register an alpha tag using the <a href="https://dashboard.clicksend.com/sender-ids/manage-senders" target="_blank">dashboard</a> or the [**Request Alpha Tag**](/accounts/sender-ids/#operation/request-alpha-tag) endpoint. Check which countries support alpha tags <a href="https://help.clicksend.com/article/532u04vhaq-which-countries-support-alpha-tags" target="_blank">here</a>.
                          - Own number: Your own number that is connected to your account. Replies from recipients are sent directly to your number. You can register your own number using the <a href="https://dashboard.clicksend.com/sender-ids/manage-senders" target="_blank">dashboard</a> or the [**Request Own Number Verification OTP**](/accounts/sender-ids/#operation/request-own-number-verification-otp) endpoint to get the verification_id and OTP code needed for the [**Verify Own Number OTP**](/accounts/sender-ids/#operation/verify-own-number-otp) endpoint. This isn't available in the US and Canada.
                          If your **Sender ID** has a different country code to the recipient’s, it'll be replaced by a local number, except in <a href="https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions" target="_blank">certain countries</a>. If the sender number is blocked, a different number will replace it.
                      source: 
                        type: string
                        description: The source of the request. For example, the name of your application. It's used to identify messages sent from various applications.
                      schedule:
                        type: integer
                        description: The time you want the message to be sent. It should be in <a href="http://help.clicksend.com/what-is-a-unix-timestamp" target="_blank">Unix format</a>.
                      custom_string:
                        type: string
                        description: A note that will be sent back to you with the response from the endpoint.
                      list_id:
                        type: string
                        description: |-
                          The _list_id_ of the contact list to send the message to. Use the [**View Contact List**](/contacts/lists/#operation/view-list-contacts) endpoint to see your contact lists. You can also use the other [lists endpoints](/contacts/lists/) to create and manage your contact list. You need to provide the _to_ parameter or the _list_id_ parameter.
                      contact_id:
                        type: string
                        description: |-
                          The _contact_id_ of the contact to send the message to. A _contact_id_ is connected to a _list_id_. Use the [**Search Contact list**](/contacts/lists/#search-contact-lists) endpoint to view the _contact_id_ of the specified number. This parameter will be sent back to you with the response from the endpoint.

                          <div class="warning-box">
                            <h4><i class="fas fa-exclamation-triangle"></i> Warning:</h4>
                            <p>This parameter is no longer in use.</p>
                          </div>
                      country: 
                        type: string
                        description: |-
                          The country code of the recipient in two-letter format (e.g. US, UK, AU, NZ, <a href="https://help.clicksend.com/article/7wtbhhy6sy-country-code-calling-code-list" target="_blank"	>etc</a>).          
              example:
                senders:
                  - recipient_country_code: "AU"
                    sender_id: "ClickSend"
                    sender_type: "alpha_tag"
                  - recipient_country_code: "US"
                    sender_type: "shared_longcode"
                  - recipient_country_code: "AU"
                    sender_id: "+61411111111"
                    sender_type: "longcode"
                  - recipient_country_code: "AU"
                    sender_id: "8084"
                    sender_type: "shortcode"
                  - recipient_country_code: "US"
                    sender_id: "+14155552345"
                    sender_type: "10DLC"
                  - recipient_country_code: "AU"
                    sender_id: "+61411111111"
                    sender_type: "own_number"
                shorten_urls: false
                messages:
                  - body: "Hello from ClickSend! This is a test message."
                    to: "+61411111111"
                  - body: "Hello from ClickSend! This is another test message."
                    to: "+14155552345"
                    custom_string: "Test message 001"
      security:
        - basicAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: 
              schema:
                type: object
                properties:
                  http_code:
                    type: string
                    description: |-
                      The HTTP code of the response. Visit [this page](/#status-codes) for more information.

                      This parameter doesn’t reflect the status of each message. Check the status parameter of the message object to view the status of the individual message.
                    example: 200
                  response_code:
                    type: string
                    description: |-
                      The response code of the operation. Visit [this page](/#status-codes) for more information.
                    example: SUCCESS
                  response_msg:
                    type: string
                    description: A message describing the outcome of the operation.
                    example: Here are your data.
                  data:
                    type: object
                    description: The parameters related to the messages price.
                    properties:
                      total_price:
                        type: number
                        example: 0.2264
                        description: |-
                          The total price of sending the messages. Visit [this page](/#status-codes) for more information.
                      total_count:
                        type: integer
                        example: 1
                        description: The total number of messages sent from the request.
                      queued_count:
                        type: integer
                        example: 1
                        description: |-
                          The messages will be put in a queue if it goes through the validation process. The validation process checks whether the **Sender ID** is registered or not. Some countries don't require messages to go through the validation process.

                          Messages scheduled to be sent right away will be sent immediately. If not, it will be queued.
                      messages:
                        type: array
                        description: The parameters related to messages.
                        items:
                          type: object
                          properties:
                            date:
                              type: integer
                              description: The date you sent the message. It is in <a href="http://help.clicksend.com/what-is-a-unix-timestamp" target="_blank">Unix format</a>.
                              example: 1436871253
                            to:
                              type: string
                              description: The phone number of the recipient. It should be in <a href="https://en.wikipedia.org/wiki/E.164" target="_blank">E.164 format</a>.
                              example: "+61411111111"
                            body:
                              type: string
                              description: |-
                                The message sent. The price of sending a message depends on the number of characters and the type of message. There are two types:

                                - Standard message - Contains only characters in the <a href="https://en.wikipedia.org/wiki/GSM_03.38" target="_blank">GSM</a> set, with a maximum of 160 characters.
                                    
                                - Unicode message - Contains characters outside the <a href="https://en.wikipedia.org/wiki/GSM_03.38" target="_blank">GSM</a> set, with a maximum of 70 characters.
                                    

                                Longer messages will be sent as multiple messages (parts), but the recipient will receive them as a single long message. Visit <a href="https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms" target="_blank">this page</a> to learn more about the number of characters per message, and <a href="http://smscharactercount.com/" target="_blank">this page</a> to count the number of characters.
                              example: Jelly liquorice marshmallow candy carrot cake 4Eyffjs1vL.
                            from:
                              type: string
                              description: The sender of the message. This is also referred to as the **Sender ID**. If your **Sender ID** has a different country code to the recipient’s, it'll be replaced by a local number, except in <a href="https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions" target="_blank">certain countries</a>. If the sender number is blocked, a different number will replace it. 
                              example: sendmobile
                            schedule:
                              type: integer
                              description: The scheduled date of the message. It is in <a href="http://help.clicksend.com/what-is-a-unix-timestamp" target="_blank">Unix format</a>.
                              example: 1436874701
                            message_id:
                              type: string
                              description: The generated ID of the message. This ID is typically used as a reference for <a href="https://www.clicksend.com/au/help/" target="_blank">customer support</a> in case of any issues.
                              example: BF7AD270-0DE2-418B-B606-71D527D9C1AE
                            message_parts:
                              type: integer
                              description: The number of parts the message was broken into. To look at how many parts your message is broken down into, use the **<a href="http://smscharactercount.com/">SMS Character Count</a>**.
                              example: 1
                            message_price:
                              type: number
                              description: The price of this message. This depends on the total number of parts of the message.
                              example: 0.07
                            custom_string:
                              type: string
                              description: A note that was sent from the request.
                              example: this is a test
                            contact_id:
                              type: string
                              description: This is the ID of the contact. This parameter will have a **null** value if you didn’t provide a _contact_id_ in the request.
                              example: 52649412
                            is_shared_system_number:
                              type: boolean
                              description: |-
                                Indicates whether you use a shared number to send a message:

                                - **True** \- if the sender is randomly selected.
                                    
                                - **False** \- if the sender is specified and passed the validation process.
                              example: false
                            country:
                              type: string
                              description: The country of the recipient in two-letter format (e.g. US, UK, AU, NZ, etc).
                              example: AU
                            status:
                              type: string
                              description: The response code of the operation. Visit [this page](/#application-status-codes) for more information. This reflects the actual status of the individual message.
                              example: SUCCESS
                      currency:
                        type: object
                        description: The parameters related to currency.
                        properties:
                          currency_name_short:
                            type: string
                            description: The currency used for the sender in three-letter format (e.g. USD, EUR, AUD, NZD, etc).
                            example: AUD
                          currency_prefix_d:
                            type: string
                            description: The symbol used to indicate the currency of the sender (e.g. $ , €, etc).
                            example: $
                          currency_prefix_c:
                            type: string
                            description: The currency basic unit (e.g. cents).
                            example: c
                          currency_name_long:
                            type: string
                            description: The full name of the currency.
                            example: Australian Dollars
                      _summary:
                        type: object
                        description: The parameters for additional summary. It shows the guidelines for each country you have selected.
                        properties:
                          test_message:
                            type: string
                            description: This parameter is used for internal developers. This is used when your account is in trial period.
                          countries:
                            type: array
                            description: The list of countries of the receipients in two-letter format (e.g. US, UK, AU, NZ, etc).
                            items:
                              type: object
                              properties:
                                country:
                                  type: object
                                  description: The country of the receipient in two-letter format (e.g. US, UK, AU, NZ, etc).
                                  properties:
                                    registration_type:
                                      type: integer
                                      description: |-
                                        The global sending requirement for this country. It can be one of the following:

                                        - **0:** No number or account registration required.
                                            
                                        - **1:** Number registration required. You can purchase a registered number from ClickSend. Examples: US and CA.
                                            
                                        - **2:** Account registration required. You can register your company details or business details to register your account. Examples: NZ, SG and UAE.

                                        <div class="info-box">
                                          <h4><i class="fas fa-info-circle"></i> Note:</h4>
                                          <p>This parameter is fixed and can't be changed based on your settings.</p>
                                        </div>

                                    receipient_count:
                                      type: integer
                                      description: The number of messages you are sending to this country. The system can count up to 1000 messages.
                                    usable_sender_id:
                                      type: boolean
                                      description: |-
                                        Indicates whether you have a usable ***Sender ID** for this country:

                                        - **True:** A **Sender ID** is available for you to use.
                                            
                                        - **False:** No **Sender ID** is available for you to use.

                                        <div class="info-box">
                                            <h4><i class="fas fa-info-circle"></i> Note:</h4>
                                            <p>Countries with <em>registration_type</em> set to <strong>0</strong> will have the <em>usable_sender_id</em> set as <strong>True</strong>, and messages will be sent from shared numbers.</p>
                                        </div>

                                    selected:
                                      type: boolean
                                      description: |-
                                        Indicates whether you have enabled the global sending for this country:

                                        - **True:** You have selected this country for global sending and can send messages here.
                                            
                                        - **False:** You haven’t selected this country for global sending and can’t send messages here.
                                    name:
                                      type: string
                                      description: The name of the country.
                                    regulation:
                                      type: object
                                      description: The parameters related to the country guidelines on the user level.
                                      properties:
                                        country_user_id:
                                          type: integer
                                          description: Your identifier for the country regulation.
                                        sms_registration_type:
                                          type: integer
                                          description: |-
                                            The global sending requirement for this country. It can be one of the following:

                                            - **0:** No number or account registration required.
                                                
                                            - **1:** Number registration required. You can purchase a registered number from ClickSend. Examples: US and CA.
                                                
                                            - **2:** Account registration required. You can register your company details or business details to register your account. Examples: NZ, SG and UAE.

                                            This parameter is a duplicate of registration_type.

                                            <div class="info-box">
                                              <h4><i class="fas fa-info-circle"></i> Note:</h4>
                                              <p>This parameter is fixed and can't be changed based on your settings.</p>
                                            </div>
                                        restricted_sending:
                                          type: boolean
                                          description: |-
                                            Indicates whether you have any restriction for sending the message to this country:

                                            - **True:** You're restricted from sending messages to this country, possibly due to not having a registered number.
                                                
                                            - **False:** You're not restricted from sending messages to this country.
                                        trial_sending:
                                          type: boolean
                                          description: |-
                                            Indicates whether the country supports trial sending or not:

                                            - **True:** This country supports trial sending
                                                
                                            - **False:** This country doesn’t support trial sending

                                            Countries with restricted sending typically offers trial sending. With trial sending, you can send messages to the country without registering your number or account.

                                            <div class="info-box">
                                              <h4><i class="fas fa-info-circle"></i> Note:</h4>
                                              <p>Trial sending has limitations, such as a daily limit of 200 messages in some countries. The limitations vary by country. <br/><br/> This parameter is fixed and can't be changed based on your settings.</p>
                                            </div>
                                        regulation_requirements_description:
                                          type: string
                                          description: The text description of the regulatory requirements.
                                        created_at:
                                          type: object
                                          description: The parameters related to the time of your request.
                                          properties:
                                            date:
                                              type: string
                                              format: date-time
                                              description: The time you made the request. It will be in <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8601</a> format.
                                            timezone_type:
                                              type: integer
                                              description: The offset value from the time you made the request.
                                            timezone:
                                              type: string
                                              description: The timezone when you made the request.
                                        updated_at:
                                          type: object
                                          description: The parameters related to when a regulation parameter value was changed.
                                          properties:
                                            date:
                                              type: string
                                              format: date-time
                                              description: The time a parameter was changed. It will be in <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8601</a> format.
                                            timezone_type:
                                              type: integer
                                              description: The offset value from the time a parameter was changed.
                                            timezone:
                                              type: string
                                              description: The timezone when a parameter was changed.
                                    registration_status_id:
                                      type: integer
                                      description: Your current registration status for this country. This parameter is used by the internal team to track the status of your registration.
                                    registration_entity_id:
                                      type: integer
                                      description: |-
                                        The global sending requirement for this country. It can be one of the following:

                                        - **0:** No number or account registration required.
                                            
                                        - **1:** Number registration required. You can purchase a registered number from ClickSend. Examples: US and CA.
                                            
                                        - **2:** Account registration required. You can register your company details or business details to register your account. Examples: NZ, SG and UAE.
                                          
                                        This parameter is a duplicate of registration_type. It determines which form you need for the global sending registration process.

                                        <div class="info-box">
                                          <h4><i class="fas fa-info-circle"></i> Note:</h4>
                                          <p>This parameter is static. Its value can’t change based on your settings.</p>
                                        </div>
                                    jotform_id:
                                      type: integer
                                      description: The Jotform identifier for your account. It’s used to track the global sending registration form. If it is **null**, no Jotform is assigned to you. It is used only for number and account registration.
                      blocked_count:
                        type: integer
                        description: |-
                          The number of messages unable to be sent. This is often caused by:

                          - Receipient’s country not enabled for global sending.
                              
                          - Sender ID resitriction.
                              
                          - Number registration restrcition.
                example:
                  http_code: 200
                  response_code: "SUCCESS"
                  response_msg: "Here is some pricing."
                  data:
                    total_price: 0.079
                    total_count: 1
                    queued_count: 1
                    messages:
                      - to: "+123456789"
                        body: "string"
                        from: "+123456788"
                        schedule: ""
                        message_id: "1EF50711-2787-68F4-8223-9F9C4393E380"
                        message_parts: 1
                        message_price: "0.0792"
                        custom_string: "string"
                        is_shared_system_number: false
                        country: "AU"
                        status: "SUCCESS"
                    _currency:
                      currency_name_short: "AUD"
                      currency_prefix_d: "$"
                      currency_prefix_c: "c"
                      currency_name_long: "Australian Dollars"
                    _summary:
                      test_message: "This is a test message from None. We are trialing business text messaging.🚀\n\nwww.example.com"
                      countries:
                        AU:
                          registration_type: 0
                          recipient_count: 1
                          usable_sender_id: true
                          selected: true
                          name: "Australia"
                          regulation:
                            country_user_id: 1234567
                            sms_registration_type: 0
                            restricted_sending: false
                            trial_sending: 0
                            regulation_requirements_description: |
                              For sending to Australia, you must generally comply with the following:

                              • No gambling or betting messages
                              • No cryptocurrency messages
                              • No messages relating to drugs, cannabis or CBD
                              • No adult content, including personal ads, or messages related to sex work or prostitution
                              • No personal messaging (commercial/business messaging only)
                            created_at:
                              date: "2024-03-14 18:12:22.000000"
                              timezone_type: 3
                              timezone: "UTC"
                            updated_at:
                              date: "2024-03-14 18:12:22.000000"
                              timezone_type: 3
                              timezone: "UTC"
                    blocked_count: 0
  /v3/sms/templates:
    get:
      summary: View SMS Templates
      operationId: view-sms-templates
      description: |-
        Use this endpoint to retrieve <a href="https://help.clicksend.com/article/9z9uloaz8y-sms-templates-for-different-industries" target="_blank">SMS templates</a>. You can filter the SMS templates result using the query parameters.
      security:
        - basicAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: page
          in: query
          description: The page number to retrieve. Use this parameter to navigate through the [pagination](/#pagination) results. The default value is 1.
          schema:
            type: integer
            default: 1
            example: 1
        - name: limit
          in: query
          description: The number of items to return per page. This parameter controls the size of each page of results. The default value is 15.
          schema:
            type: integer
            minimum: 15
            maximum: 100
            default: 15
            example: 15
        - name: q
          in: query
          schema:
            type: string
            default: field_name
          description: |-
            Allows filtering of results based on your search criteria. The query should be in the format `field_name:value`.

            1. **Field Name**: The field within the SMS history you want to filter by. You can use the following fields:

              - _template_id_ : The ID of the template
              - _template_name_ : The name of the template
              - _body_ : The body content of the template.
                    
            2. **Value**: The text or keyword you're searching for within the specified field. If left empty after the colon, the filter will look for all templates with any value in the **Field Name**.    

            For example, if you are searching for the template with the name of _sample_name_, the final query would look like this: 

              `q=template_name:sample_name`

            <div class="info-box">
              <h4><i class="fas fa-info-circle"></i> Note:</h4>
              <div>
              <p>Some characters have to be encoded. For example, if you are searching for SMS sent from the phone number +61437085284, your search query q would be:<br/></p>
                <ul>
                  <li>q=from:%2B61437085284</li>
                </ul>
                <p>You can use the <a href="https://www.urlencoder.org/" target="_blank">URL encoder</a> to encode the text. If a character is not an alphanumeric character (A-Z, a-z, 0-9), it is typically either reserved or unsafe and should be encoded.</p>
              </div>
            </div>
        - name: order_by
          in: query
          schema:
            type: string
            default: template_id:asc
          description: |-
            Specifies the field and order to sort the results by. 
            The value is composed of the field name followed by a colon and the sort direction (_asc_ for ascending or _desc_ for descending). 
            The default sort order is by _template_id_ in ascending order. You can use the following fields:    

            - _template_id_ : The ID of the Template
            - _template_name_ : The name of the Template
            - _body_ : The body content of the Template

            For example, if you want to order by the _template_id_ in descending order, the query would look like this:

              `order_by=template_id:desc`
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  http_code:
                    type: integer
                    description: The HTTP status code of the response.
                    example: 200
                  response_code:
                    type: string
                    description: The response code indicating the status of the operation.
                    example: SUCCESS
                  response_msg:
                    type: string
                    description: A message describing the outcome of the operation.
                    example: Here are your data.
                  data:
                    description: The parameters related to the total message receipts shown. The response will depend on the pagination parameters, specified in the query parameters.
                    allOf: 
                      - type: object
                        properties:
                          total:
                            type: integer
                            description: The total number of items available for viewing.
                            example: 2
                          per_page:
                            type: integer
                            description: The number of items returned per page. This is specified in the limit parameter. You can have 100 items at maximum, and 15 at minimum.
                            example: 15
                          current_page:
                            type: integer
                            description: The current page number.
                            example: 1
                          last_page:
                            type: integer
                            description: The last page number.
                            example: 1
                          next_page_url:
                            type: string
                            nullable: true  
                            description: A URL of the next page. It will return **null** if there’s no next page.
                            example: null
                          prev_page_url:
                            type: string
                            nullable: true
                            description: A URL of the previous page. It will return **null** if there’s no previous page.
                            example: null
                          from:
                            type: integer
                            description: The number of the first result in the current page.
                            example: 1
                          to:
                            type: integer
                            description: The number of the last result in the current page.
                            example: 2
                      - type: object
                        properties:
                          data:
                            type: array
                            description: The parameters related to the actual templates.
                            items:
                              type: object
                              description: The parameters related to the actual templates.
                              properties:
                                template_id:
                                  type: integer
                                  description: The generated ID of the template.
                                  example: 1
                                body:
                                  type: string
                                  description: The main content of the template.
                                  example: "This is a sample template."
                                template_name:
                                  type: string
                                  description: The name of the template.
                                  example: "My Awesome Template"
                example: 
                  http_code: 200
                  response_code: SUCCESS
                  response_msg: Here are your templates.
                  data:
                    - totlal: 1
                      per_page: 15
                      current_page: 1
                      last_page: 1
                      next_page_url: null
                      prev_page_url: null
                      from: 1
                      to: 1
                      data:
                        - template_id: 587713
                          body: "this_is_a_test_template wew21"
                          template_name: qowiei_1920
  /v3/statistics/sms:
    get:
      summary: View SMS Statistics
      operationId: view-sms-statistics
      description: |-
        _Get sms statistics for last 30 days_


        Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


        <div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
          <span style="color: white;">This endpoint requires authentication,</span> 
          <a href="/#authentication" style="color: white; text-decoration: underline;">more info...</a>
        </div>
      security:
        - basicAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: 
              schema:
                type: object
                properties:
                  http_code:
                    type: integer
                    description: The HTTP status code of the response.
                    example: 200
                  response_code:
                    type: string
                    description: The response code indicating the status of the operation.
                    example: SUCCESS
                  response_msg:
                    type: string
                    description: A message describing the outcome of the operation.
                    example: Here are your data.
                  data:
                    type: object
                    properties:
                      total:
                        type: object
                        properties:
                          outbound:
                            type: object
                            properties:
                              count:
                                type: integer
                                description: The total count of outbound SMS.
                                example: 1
                              price:
                                type: number
                                description: The total price of outbound SMS.
                                example: 5.81
                          inbound:
                            type: object
                            properties:
                              count:
                                type: integer
                                description: The total count of inbound SMS.
                                example: 0
                          bounced:
                            type: object
                            properties:
                              count:
                                type: integer
                                description: The total count of bounced SMS.
                                example: 0
                      stat:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: number
                              description: The date.
                              example: 1436918400
                            outbound:
                              type: object
                              properties:
                                count:
                                  type: integer
                                  description: The count of outbound SMS.
                                  example: 83
                                price:
                                  type: number
                                  description: The price of outbound SMS.
                                  example: 5.81
                            inbound:
                              type: object
                              properties:
                                count:
                                  type: integer
                                  description: The count of inbound SMS.
                                  example: 0
                            bounced:
                              type: object
                              properties:
                                count:
                                  type: integer
                                  description: The count of bounced SMS.
                                  example: 0
                      _currency:
                        type: object
                        description: The parameters related to currency.
                        properties:
                          currency_name_short:
                            type: string
                            description: The currency used for the sender in three-letter format (e.g. USD, EUR, AUD, NZD, etc).
                            example: AUD
                          currency_prefix_d:
                            type: string
                            description: The symbol used to indicate the currency of the sender (e.g. $ , €, etc).
                            example: $
                          currency_prefix_c:
                            type: string
                            description: The currency basic unit (e.g. cents).
                            example: c
                          currency_name_long:
                            type: string
                            description: The full name of the currency.
                            example: Australian Dollars
  /v3/sms/history:
    get:
      summary: View SMS History
      operationId: view-sms-history
      description: |-
        _Use this endpoint to view previously sent SMS. You can filter the SMS history result using the query parameters_
      security:
        - basicAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: page
          in: query
          description: The page number to retrieve. Use this parameter to navigate through the [pagination](/#pagination) results. The default value is 1.
          schema:
            type: integer
          default: 1
          example: 1
        - name: limit
          in: query
          description: The number of items to return per page. This parameter controls the size of each page of results. The default value is 15.
          schema:
            type: integer
            minimum: 15
            maximum: 100
            default: 15
            example: 15
        - name: q
          in: query
          description: |-
            Allows filtering of results based on your search criteria. The query should be in the format `field_name:value`.

            1. **Field Name**: The field within the SMS history you want to filter by. You can use the following fields:
                
                - _Status_: The status of the SMS. Available values for status are: Queued, Completed, Scheduled, WaitApproval, Failed, Cancelled, CancelledAfterReview, Received, Sent.
                    
                - _To_: The recipient of the SMS.
                    
                - _from_: The sender of the SMS.
                    
                - _subaccount_id_: The sub-account identifier.
                    
                - _message_id_: The ID of your SMS.
                    
            2. **Value**: The text or keyword you're searching for within the specified field. If left empty after the colon, the filter will look for all templates with any value in the **Field Name**.           

            For example, if you are searching for a SMS with the status of Scheduled, the final query would look like this:

              `q=status:Scheduled`

            <div class="info-box">
              <h4><i class="fas fa-info-circle"></i> Note:</h4>
              <div>
              <p>Some characters have to be encoded. For example, if you are searching for SMS sent from the phone number +61437085284, your search query q would be:<br/></p>
                <ul>
                  <li>q=from:%2B61437085284</li>
                </ul>
                <p>You can use the <a href="https://www.urlencoder.org/" target="_blank">URL encoder</a> to encode the text. If a character is not an alphanumeric character (A-Z, a-z, 0-9), it is typically either reserved or unsafe and should be encoded.</p>
              </div>
            </div>
          schema:
            type: string
            default: field_name
        - name: order_by
          in: query
          schema:
            type: string
            default: date:asc
          description: |-
            Specifies the field and order to sort the results by. The value is composed of the field name followed by a colon and the sort direction (_asc_ for ascending or _desc_ for descending). 
            The default sort order is by _date_ in ascending order. You can use the following fields:
            
              - _date_
              - _username_
              - _from_ 
              - _to_
              - _status_
              - _body_

            For example, if you want to order by the most recently sent SMS, you should sort by date in descending order. The query would look like this:

              `order_by=date:desc`
        - name: date_from
          in: query
          schema:
            type: integer
          description: Start date to filter results. It should be in <a href="http://help.clicksend.com/what-is-a-unix-timestamp" target="_blank">Unix format</a>.
        - name: date_to
          in: query
          schema:
            type: integer
          description: End date to filter results. It should be in <a href="http://help.clicksend.com/what-is-a-unix-timestamp" target="_blank">Unix format</a>.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  http_code:
                    type: integer
                    description: The HTTP code of the response. Visit [this page](/#status-codes) for more information.
                    example: 200
                  response_code:
                    type: string
                    description: The response code of the operation. Visit [this page](/#status-codes) for more information.
                    example: SUCCESS
                  response_msg:
                    type: string
                    description: A message describing the outcome of the operation.
                    example: Here are your data.
                  data:
                    description: The parameters related to the SMS history shown. The response will depend on the pagination parameters, specified in the query parameters.
                    allOf:
                      - $ref: ../../../../common/pagination.yml
                      - type: object
                        properties:
                          data:
                            description: The parameters related to the actual SMS.
                            type: array
                            items:
                              type: object
                              properties:
                                direction:
                                  type: string
                                  description: |-
                                    It can either be in or out:
                                      - **in** - You received a message. it has to do with inbound messages.
                                      - **out** - You are sending a message. It has to do with outbound messages.
                                  example: out
                                date:
                                  type: integer
                                  description: The date you sent the message. It is in <a href="http://help.clicksend.com/what-is-a-unix-timestamp" target="_blank">Unix format</a>.
                                  example: 1436932432
                                to:
                                  type: string
                                  description: The phone number of the recipient. It should be in <a href="https://en.wikipedia.org/wiki/E.164" target="_blank">E.164 format</a>.
                                  example: "+16783270696"
                                body:
                                  type: string
                                  description: The message sent.
                                  example: Chocolate bar icing icing oat cake carrot cake jelly cotton 1iQByXxdLN.
                                status:
                                  type: string
                                  description: |-
                                    The status of the SMS. It can either be:

                                    - _Queued_
                                    - _Completed_
                                    - _Scheduled_
                                    - _WaitApproval_
                                    - _Failed_
                                    - _Cancelled_
                                    - _CancelledAfterReview_
                                    - _Received_
                                    - _Sent_
                                    
                                    This parameter reflects the actual status of the SMS. It is based on the 
                                    status of the SMS sent from the <a href="https://en.wikipedia.org/wiki/SMS_gateway" target="_blank">SMS gateway</a>, which is different 
                                    from the [API status code](https://developers-dev.clicksend.net/docs/#status-codes). Visit <a href="https://help.clicksend.com/article/8cc479qlbb-list-of-sms-gateway-error-codes" target="_blank">this page</a> for more information.

                                  example: Completed
                                from:
                                  type: string
                                  description: The sender of the message.
                                  example: "sendlist"
                                schedule:
                                  type: integer
                                  description: The scheduled date of the message. It is in <a href="http://help.clicksend.com/what-is-a-unix-timestamp" target="_blank">Unix format</a>.
                                  example: 1436879372
                                status_code:
                                  type: integer
                                  description: The status code sent from the <a href="https://en.wikipedia.org/wiki/SMS_gateway" target="_blank">SMS gateway</a>. Visit <a href="https://help.clicksend.com/article/8cc479qlbb-list-of-sms-gateway-error-codes" target="_blank">this page</a> for more information.
                                  example: null
                                status_text:
                                  type: string
                                  description: A message describing the _status_code_ of the operation. Visit <a href="https://help.clicksend.com/article/8cc479qlbb-list-of-sms-gateway-error-codes" target="_blank">this page</a> for more information.
                                  example: null
                                error_code:
                                  type: integer
                                  description: The error code of the operation. Visit <a href="https://help.clicksend.com/article/8cc479qlbb-list-of-sms-gateway-error-codes" target="_blank">this page</a> for more information. If no error occurred, the value is **null**.
                                  nullable: true
                                  example: null
                                error_text:
                                  type: string
                                  description: A message describing the _error_code_ of the operation. Visit <a href="https://help.clicksend.com/article/8cc479qlbb-list-of-sms-gateway-error-codes" target="_blank">this page</a> for more information. If no error occurred, the value is **null**.
                                  nullable: true
                                  example: null
                                message_id:
                                  type: integer
                                  description: The generated ID of the message.
                                  example: 4E90F4C3-43A3-489D-9AB8-DA1F4332A0C3
                                message_parts:
                                  type: integer
                                  description: The number of parts the message was broken into. To look at how many parts your message is broken down into, use the <a href="http://smscharactercount.com/" target="_blank"><strong>SMS Character Count</strong></a>.
                                  example: "1.00"
                                message_price:
                                  type: number
                                  description: The price of this message. This depends on the total number of parts of the message.
                                  example: "0.070000"
                          from_email:
                            type: string
                            description: The email address to which replies should be emailed to. If omitted, the reply will be emailed back to the user who sent the outgoing SMS
                            example: null
                          list_id:
                            type: string
                            description: The _list_id_ of the contact list the message was sent to. This parameter will have a **null** value if you didn’t send to a list in the request.
                            nullable: true
                            example: null
                          custom_string: 
                            type: string
                            description: A note that was included with the outgoing SMS. If no note was included, the value is **null**.
                            example: this is a test
                          contact_id:
                            type: string
                            description: This is the ID of the contact. This parameter will have a **null** value if you didn’t provide a _contact_id_ in the request.
                            example: 1
                          user_id:  
                            type: integer
                            description: The unique user ID of the sender.
                            example: 1
                          subaccount_id:  
                            type: integer
                            description: The sub-account of the user. A user can have multiple sub-accounts.
                            example: 1
                          country:
                            type: string
                            description: The country of the recipient in two-letter format (e.g. US, UK, AU, NZ, etc).
                            example: "US"
                          carrier: 
                            type: string
                            description: The phone carrier of the recipient.
                            example: ""
                          first_name:
                            type: string
                            nullable: true
                            description: The first name of the recipient. The name will appear if you sent the message to a contact from a contact list. If you are sending directly to a phone number, the value will be **null**.
                            example: "John"
                          last_name:
                            type: string
                            nullable: true
                            description: The last name of the recipient. The name will appear if you sent the message to a contact from a contact list. If you are sending directly to a phone number, the value will be **null**.
                            example: "Doe"
                          _api_username: 
                            type: string 
                            description: The username of the SMS sender. This can be a <a href="https://dashboard.clicksend.com/account/subaccounts" target="_blank">sub-account</a>.
                            example: "johndoe"


  